# =======================
# .NET
# =======================
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.suo
*.user
*.userosscache
*.sln.docstates

# Migrations temporárias
**/Migrations/obj/
**/Migrations/*.Designer.cs
**/Migrations/*.cs.bak

# Configurações de publish
*.publish.xml
*.azurePubxml
*.scmignore

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.psmdcp
packages/
.nuget/
*.dotnet/
project.lock.json
project.fragment.lock.json
artifacts/

# =======================
# Visual Studio / VSCode
# =======================
.vscode/
*.code-workspace
*.vs/
*.vscode-test/

# =======================
# Rider
# =======================
.idea/
*.sln.iml

# =======================
# Logs
# =======================
*.log

# =======================
# User secrets
# =======================
secrets.json
*.usersecrets

# =======================
# OS
# =======================
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# =======================
# Database
# =======================
*.mdf
*.ldf
*.sqlite
*.db

# =======================
# Node / Frontend (caso futuramente tenha React)
# =======================
node_modules/
dist/
build/
.env
*.db-shm
*.db-wal
